
[data-bs-theme=dark] .element {
    color: var(--bs-primary-text-emphasis);
    background-color: var(--bs-primary-bg-subtle);
}

@media (prefers-color-scheme: light) {}

@media (prefers-color-scheme: dark) {
    .element {
        color: var(--bs-primary-text-emphasis);
        background-color: var(--bs-primary-bg-subtle);
    }
}